[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pytest = "*"
pytest-cov = "*"
ruff = "*"
black = "*"
mermaid-py = "*"
pydantic = "*"
pyyaml = "*"
pyside6 = "*"

[dev-packages]
pyinstaller = "*"

[requires]
python_version = "3.12"
python_full_version = "3.12.3"
